service vendor.gatekeeper-trusty /vendor/bin/hw/android.hardware.gatekeeper-service.trusty \
                                          --dev ${ro.hardware.trusty_ipc_dev.gatekeeper:-/dev/trusty-ipc-dev0}
    user system
    group system
